<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Confirme seu e-mail abaixo para ter acesso ao App.</p>
    <p>Segue o link:</p>
    <p>
        <a href={{link}}>Confirmar e-mail</a>
    </p>
    <p>Se você não efetuou o cadastro, descarte este e-mail</p>
    <p>
        Obrigado! <br />
        <strong>Equipe VestConnect</strong>
    </p>
</div>